body{
    background-image: url("../img/food1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.col-md-5{
    margin-top: 15vh;
}

.col-md-7{
    margin: 10vh 0 10vh 0;
}

h3{
    margin-left: 5vw;
    color: #444444;
    font-weight: bolder;
}

.row{
    background-color: rgba(137, 137, 124, 0.45);
}